$color-green : hsla(149, 99%, 41%, 1);
$color-sky-blue : hsla(193, 98%, 56%, 1);
$color-blue-bark : hsla(208, 76%, 20%, 1);
$color-white : hsla(0, 0%, 100%, 1);
$color-white-400 :  hsla(220, 100%, 96%, 1);
$color-white-200 : hsla(216, 100%, 99%, 1);

$background-dark : $color-blue-bark;
$background-light : $color-white;
$background-paper :  $color-white-400;
$background-header: $color-white-200;

$color-primary : $color-green;
$color-secondary : $color-blue-bark;
$color-accent : $color-sky-blue;
$color-indigo : hsla(231, 100%, 66%, 1);


$text-caption-color : hsla(0, 0%, 67%, 1);
$text-dark : hsla(0, 0%, 13%, 1);

