$line-height-xxs : 13px;
$line-height-xs : 14px;
$line-height-sm : 16px;
$line-height-md : 18px;
$line-height-lg : 19px;
$line-height-xl : 20px;
$line-height-xxl : 24px;

$font-size-xs : 9px;
$font-size-sm : 12px;
$font-size-regular : 13px;
$font-size-lg : 14px;
$font-size-lg-1 : 16px;
$font-size-xl : 22px;
$font-size-xxl : 24px;

$font-weight-regular : 400;
$font-weight-semi-bold : 600;
$font-weight-bold : 700;

$font-sans : 'Open Sans', "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;


